streamlit
matplotlib
altair
pydeck
numpy
pandas
scipy
scikit-learn
numexpr
numba
llvmlite
Bottleneck
narwhals

# Google Cloud and Firebase related
firebase
firebase-admin
gcloud
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
httplib2
oauth2client
proto-plus
protobuf
pyasn1
pyasn1_modules
PyJWT
python-jwt
rsa
Pyrebase
Pyrebase4

# General Utilities and Dependencies
audioread
blinker
Brotli
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
decorator
fonttools
gitdb
GitPython
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
jws
kiwisolver
lazy_loader
librosa
MarkupSafe
msgpack
packaging
pillow
platformdirs
pooch
pycparser
PyQt6
PyQt6-sip
PySocks
python-dateutil
pytz
PyYAML
referencing
requests
requests-toolbelt
rpds-py
setuptools
sip
six
smmap
soundfile
soxr
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
unicodedata2
uritemplate
urllib3
watchdog
wheel